target/*
target
.tmp_guest
.tmp_guest/*

workspaces/risc0/target
workspaces/risc0/methods/guest/*
workspaces/risc0/methods/guest/src/main.rs
workspaces/sp1/program/*
workspaces/sp1/program/src/main.rs

.DS_Store
**/.DS_Store
