target/*
target
.tmp_guest
.tmp_guest/*

workspaces/risc0/target
workspaces/risc0/host/*
workspaces/risc0/methods/guest/*
workspaces/sp1/program/*
workspaces/sp1/script/*

proof_data/sp1/*
!proof_data/sp1/.gitkeep
proof_data/risc0/*
!proof_data/risc0/.gitkeep

.DS_Store
**/.DS_Store
