target/*
target
.tmp_guest
.tmp_guest/*

workspaces/*
!workspaces/base_files/
!workspaces/risc0/
!workspaces/sp1/

proof_data/sp1/*
!proof_data/sp1/.gitkeep
proof_data/risc0/*
!proof_data/risc0/.gitkeep

.DS_Store
**/.DS_Store
